/*Vertical Scrolling*/

#marqueeContainer {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    border: 3px solid #d2d2d2;
    padding: 2px;
    padding-left: 4px;
}